*{
    box-sizing: border-box;
    text-align: center;

    
}
.navbar{
    overflow: hidden;
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif ;
}

.navbar a{
    float: left;
    font-size: 16px;
    color: white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}
body{
    background :linear-gradient( to left, white,lightgray) ;
    text-align: center;
}

.navbar a:hover,  .dropdown:hover  .dropbtn{
    background-color: rgb(128, 141, 153);
}
.dropdown-content{
    display: none;
    position: absolute;

    background-color:lightgray;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.colum{
    float: left;
    width: 33%;
    padding: 10px;
    background-color: lightgray;
    height: 250px;
}


@media only screen and (max-width:820px){
    header{
        flex-direction: column;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    header img{
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading h1{
        font-size: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .main-heading a{
        font-size: 13px;
        padding: 25px;
    }
    .main-heading{
        margin-top: 0;
    }
    nav ul li .active{
        padding-right: 0;
    }
    nav ul{
        padding-left: 0;
    }
    .service{
        width: 100%;
    }
    .services-box{
        flex-direction: column;
    }
    .title-box{
        width: 90%;
    }
    .form-row{
        flex-direction: column;
    }

}